<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                let target = $($(element).attr('href'));
                if (target.length) {
                    $('div.body-inner').animate({
                        scrollTop: target.get(0).offsetTop,
                    });
                }
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
                {% if site.toc.enabled %}
                    {% if site.toc.enabled_index %}
                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                    {% endif %}
                {% endif %}
            </li>

            <li class="divider"></li>

            {%- assign posts_by_category = site.posts | group_by_exp: "post", "post.categories | join: ','" -%}
            {% for category in posts_by_category %}
                {% assign cat_name = category.name | downcase %}
                {% if cat_name != "" %}
                <li class="chapter" data-level="2" data-path="#">
                    <span style="font-weight:bold; cursor:pointer;">{{ cat_name | capitalize }}</span>
                    <ul>
                        {% for post in category.items %}
                        <li class="chapter{% if page.url == post.url %} active{% endif %}" data-level="2.1" data-path="{{site.baseurl}}{{post.url}}">
                            <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">{{ post.title | escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
